@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: Ubuntu;
}

body,
.ipl-form-container,
.chatbot-container,
.home-page {
  background: url('./Components/Images/forest.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.home-page {
  align-items: center;
  display: flex;
  flex-direction: column;
}


.chatbot-container {
  background: gray;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chatbot-subcontainer {
  display: block;
}

.chatbot-title {
  /* font-family: "Baloo Paaji 2", sans-serif; */
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}

.chat-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.chat-input {
  color: white;
  background: none;
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.chat-send-button {
  background: white;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 6px;
  color: gray;
  height: 49px;
  margin-left: 3px;
}

.chat-send-button:hover {
  background: gray;
  color: white;
  border: 2px solid white;
}

.chat-input-container ::placeholder {
  color: white;
}

.chat-messages {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.questions {
  align-self: flex-end;
  background: gray;
  background-size: auto;
  padding: 7px;
  align-items: flex-end;
  /* width: fit-content; */
  word-wrap: break-word;
  color: white;
  margin-bottom: 5px;
  border-radius: 8px;
  /* max-width: 45%; */
  text-align: right;
}

.answers {
  /* background: gray; */
  align-self: flex-start;
  width: fit-content;
  color: gray;
  padding: 10px;
  word-wrap: break-word;
  /* text-wrap: nowrap; */
  border-radius: 8px;
  /* align-items: flex-end; */
  justify-content: right;
  /* max-width: 45%; */
  text-align: left;
}

.typing-indicator::before {
  content: attr(data-text);
  position: relative;
  color: transparent;
}

.typing-indicator::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  border-right: 4px solid white;
  overflow: hidden;
  color: white;
  animation: typing 2s steps(20) 1;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.ipl-form-container {
  background-color: #ffffff;
  color: #006400;
  /* font-family: Arial, sans-serif; */
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ipl-form-container h1 {
  text-align: center;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  margin-bottom: 20px;
  color: #228B22;
}

.ipl-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.ipl-form-container label {
  margin-bottom: 10px;
  font-weight: bold;
}

.ipl-form-container select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 200px;
}

.ipl-form-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 300px;
}

.ipl-form-container h5 {
  padding-top: 15px;
  color: white;
}

.send-button {
  padding: 8px 10px;
  background: green;
  color: white;
  border: 2px solid gray;
  border-radius: 4px;
  cursor: pointer;
  /* transition: background-color 0.3s; */
}

.send-button:hover {
  background: white;
  color: green;
}

.ipl-table {
  margin-top: 20px;
  color: white;
}

.ipl-title {
  text-align: center;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-size: 28px;
  color: #228B22;
  margin-bottom: 20px;
  text-decoration: underline;
}

.chatbot-title {
  text-align: center;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-size: 28px;
  color: white;
  margin-bottom: 20px;
  /* text-decoration: underline; */
}

.welcome-title {
  text-align: center;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-size: 35px;
  color: #228B22;
  /* margin-bottom: 2px; */
  margin-top: 15px;
}

.nav-link:hover {
  background-color: gray;
  color: #ffffff !important;
}

.ipl-winner-title {
  text-align: center;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  color: whitesmoke;
  margin-top: 20px;
}

.ipl-table table {
  width: 100%;
  border-collapse: collapse;
}

.ipl-table th,
.ipl-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.ipl-table th {
  background-color: gray;
  color: white;
}

.ipl-table tr:nth-child(even) {
  background-color: gray;
}

.ipl-table tr:hover {
  background-color: #ddd;
}

.loading-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  margin-top: 20px;
  color: white;
}

.loading-dots span {
  color: white;
  display: inline-block;
  animation: blink 1s infinite;
}

.loading-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {

  0%,
  20% {
    color: rgba(0, 0, 0, 0);
  }

  50% {
    color: white;
  }

  100% {
    color: rgba(0, 0, 0, 0);
  }
}

.player-name {
  text-align: center;
  color: whitesmoke;
  margin-top: 20px;
}

.player-info {
  display: flex;
  align-items: center;
}

.player-details-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 200px;
  margin-right: 20px;
  margin-left: 70px;
}

.player-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.player-details-right {
  flex: 1;
  font-size: 16px;
  color: whitesmoke;
}

.player-videos {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 20px;
  top: 45px;
  align-items: center;
}

.videos-list {
  /* display: flex; */
  flex-wrap: wrap;
  /* gap: 30px; */
  padding-bottom: 15px;
  justify-content: center;
}

.video-container {
  flex: 1;
  max-width: 320px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  border: 2px solid white;
  border-radius: 5px;
}

.navbar-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.navbar-wrapper li {
  padding: 10px 15px;
}

.navbar-wrapper {
  position: absolute;
  font-size: 17px;
  color: gray;
  right: 20px;
  top: 15px;
  background-color: #f1f1f1;
  border: 2.5px solid gray;
  border-radius: 4px;
}

.suggestions-list {
  position: absolute;
  top: 50px;
  left: 270px;
  width: calc(100% - 542px);
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

.clear-chat-button {
  position: absolute;
  right: 40px;
  top: 260px;
  background: gray;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  z-index: 10;
  border: 2px solid white;
  border-radius: 4px;
}

.clear-chat-button:hover {
  background-color: #cc4444;
}

.news-item {
  margin-bottom: 1rem;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.news-item h3 {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.news-item p {
  color: lightgray;
  line-height: 1.5;
}

.news-item span {
  color: darkgreen;
  font-size: 0.8rem;
  font-weight: bold;
}

.user-chats-container {
  position: absolute;
  top: 50px;
  padding: 10px;
  margin-left: 0px;
  background-color: gray;
  border: 2px solid gray;
  border-radius: 8px;
}

.user-chats-container h4 {
  color: white;
}

.user-chats-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.user-chats-container li {
  padding: 10px 15px;
}

.chatbot-disabled-container {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px; 
  padding: 10px; 
  background-color: none;
  max-width: 600px;
  margin: 15px auto;
}
